@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    background-color: $color-bg-body;

    @include respond(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    min-inline-size: auto;
}
  
legend {
    display: none;
}