//colors
$color-primary: hsl(213, 96%, 18%);
$color-accent: hsl(243, 100%, 62%);
$color-error: hsl(354, 84%, 57%);
$color-step-active-bg: hsl(206, 94%, 87%);
$color-step-label: hsl(229, 24%, 87%);
$color-plan-selected: hsl(231, 100%, 99%);
$color-neutral-white: hsl(0, 100%, 100%);
$color-neutral-gray: hsl(231, 11%, 63%);
$color-bg-body: hsl(218, 100%, 97%);

//backgrounds
$bg-sidebar-mobile: url('/assets/images/bg-sidebar-mobile.svg');
$bg-sidebar-desktop: url('/assets/images/bg-sidebar-desktop.svg');

//fonts
$font-family-primary: 'Ubuntu', sans-serif;
$font-size-xs: 0.75rem;  
$font-size-sm: 0.875rem; 
$font-size-base: 1rem;    
$font-size-md: 1.25rem;  
$font-size-lg: 1.5rem;    
$font-size-xl: 2rem;
$font-size-xxl: 2.5rem;   

// spacing
$spacing-4: 0.25rem;
$spacing-5: 0.3125rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-14: 0.875rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-45: 2.8125rem;
$spacing-48: 3rem;
$padding-ui-element-block: 0.75rem;
$padding-ui-element-inline: 1rem;

//border-radius
$radius-sm: 0.25rem;
$radius-btn: 0.5rem;
$radius-md: 0.625rem;
$radius-pill: 1.5625rem;
$radius-circle: 50%;


//breakpoints
$breakpoints: (
  xs: 22rem, 
  sm: 36rem,
  md: 48rem,
  lg: 64rem,
  xl: 75rem 
);
